body, html {
  background-color: rgb(5, 32, 39);
  height: 100%;
  margin: 0px auto;
}

#app {
  height: 100%;
}

#wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: [wrapper] 1fr;
  grid-template-rows: [chatWindow]1fr [messageBox]100px;
  grid-row-gap: 1rem;
}

#rainbow {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: (2px);
}

.col {
  background-color: #00ff00;
}

#chatWindow {
  background-color: #ffff00;
}

#inputBox {
  background-color: #00ff00;
}



