body, html {
  background-color: rgb(5, 32, 39);
  height: 100%;
  margin: 0px auto;
}

#app {
  height: 100%;
}

#wrapper {
  display: grid;
  
  height: 100%;
  grid-template-columns: [wrapper] 1fr;
  grid-template-rows: [chatWindow]1fr [messageBox]100px;
  grid-row-gap: 1rem;
}


#chatWindow {
  background-color: #ffff00;
}



#inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatField {
  width: 90%;
  height: 2rem;
  background: none;
  border: none;
  color: #fff;
}



